{% extends 'base.html.twig' %}
{% block header %}
    <header>
        <div class="head1"><h1 style="text-align: center; color: red;background: #3e45ff; padding: 0;margin: 0;">ComicFun</h1></div>
        <div class="head2"></div>

    </header>
{% endblock %}